<!-- Thankyou Layout -->
<div class="blog-detail-thumb" style="background-image: url('assets/img/bg_datepick.jpg')">
<div class="session-wrapper">
	<div class="container container-full-width">
		<div class="row">
			<div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
				<div class="card border-0 border-rad card-shadow p-4 text-center w-65 mx-auto ">
						
					<h2 class=" fw-20"><!--Thank you-->Vielen Dank!</h2>
							
					<h2 class="font-2x mb-4"><!--Your reservation request has been sent-->Ihre Reservierungsanfrage wurde versendet</h2>
					<p class="text-muted font-sm border-style"><!--Spread The Word-->Soziale Netzwerke</p>
					<div class="social-without-bg mb-4">
						<ul class="list-inline mb-0">
							<li class="list-inline-item"><a href="https://www.facebook.com/LemonBaden/"><i class="fa fa-facebook"></i></a></li>
							<li class="list-inline-item"><a href="https://www.instagram.com/hotelbluecity/"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
					<a href="https://www.bluecityhotel.ch/" class="btn btn-primary btn-block submit-btn btn-lg"><!--Go to-->Gehe zu Blue City Hotel</a>
				</div>
			</div>
		</div>
	</div><!-- container closed -->
</div><!-- session Wrapper closed -->
</div>