.razmak{
    padding-bottom: 3rem;
}

.btn-50{
    width: 50%;
}

.prozirno{

    background-color: rgba(0, 0, 0, 0.808);
}

.link {
    text-decoration: underline;
    font-weight: bold;
    border-radius: 0.35rem;
}