<!-- Sign In Layout -->
<div class="product-wrapper section-gap">
    <div class="container ">

        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 mb-10">
                <button type="button" routerLink="/admin-menu" class="btn btn-primary">
                    <i class="fa fa-arrow-left"></i> Back</button>
            </div>
        </div>
        <hr>


        <div class="row">
            <div class="col-sm-12 col-md-11 col-lg-9 mx-auto">
                <div class="row no-gutters">
                    <div class="col-sm-12 col-md-6 py-5">
                        <div class="card border-0 p-4 rounded-0 card-shadow">
                            <form class="session-form" [formGroup]="newPassForm" (ngSubmit)="onSubmit()">
                                <div class="social-widget mb-4">
                                    <h2 class="text-capitalize font-2x mb-4">Change Password</h2>
                                </div>
                                <!-- Social widget closed -->
                                <div class="mb-5">
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control form-control-lg" formControlName="Password"
                                            [ngClass]="{ 'is-invalid': submittedPass && fp.Password.errors }">
                                        <div *ngIf="submittedPass && fp.Password.errors" class="invalid-feedback">
                                            <div *ngIf="fp.Password.errors.required">Password is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block btn-lg submit-btn">Change
                                        Password</button>
                                </div>
                            </form>
                            <!-- session form closed -->


                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 py-5">
                        <div class="card border-0 p-4 rounded-0 card-shadow">
                            <form class="session-form" [formGroup]="newEmailForm" (ngSubmit)="onSubmitEmail()">
                                <div class="social-widget mb-4">
                                    <h2 class="text-capitalize font-2x mb-4">Change Email</h2>
                                </div>
                                <!-- Social widget closed -->
                                <div class="mb-5">
                                    <div class="form-group">
                                        <label for="Email">Email Addresss</label>
                                        <input type="email" class="form-control form-control-lg" formControlName="Email"
                                            [ngClass]="{ 'is-invalid': submittedEmail && fe.Email.errors }">
                                        <div *ngIf="submittedEmail && fe.Email.errors" class="invalid-feedback">
                                            <div *ngIf="fe.Email.errors">Email not valid</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block btn-lg submit-btn">Change
                                        Email</button>
                                </div>
                            </form>
                            <!-- session form closed -->


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- container closed -->
</div>
<!-- session Wrapper closed -->