<div class="feature-wrapper">
  <!-- feature slide section -->


  <div class="feature-work section-gap bg-light">
    <div class="container" >
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3" [routerLink]="['/product-view']">
          <div class="card-line-box  p-4">
            <div class="mb-4">
            </div>
            <h5 class="mb-3">
              <a>Products</a>
            </h5>
            <p>Edit products</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3" [routerLink]="['/category-view']">
          <div class="card-line-box  p-4">
            <div class="mb-4">
            </div>
            <h5 class="mb-3">
              <a>Product's Categories</a>
            </h5>
            <p>Edit product's categories</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3" [routerLink]="['/admin-calendar']">
          <div class="card-line-box  p-4">
            <div class="mb-4">
            </div>
            <h5 class="mb-3">
              <a>Calendar</a>
            </h5>
            <p>Edit date availability</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3" [routerLink]="['/user-admin']">
          <div class="card-line-box  p-4">
            <div class="mb-4">
            </div>
            <h5 class="mb-3">
              <a>User</a>
            </h5>
            <p>Change password</p>
          </div>
        </div>

      </div>
      
    </div>
  </div>
  <!--feature work section -->
</div>