<!-- Latest Blog Section -->
<div class="blog-wrapper section-gap">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 mb-10">
                <button type="button" routerLink="/home" class="btn btn-primary">
                    <i class="fa fa-arrow-left"></i> Back</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="blog-wrap mb-5">
                    <div class="overlay-wrap mb-4">
                        <img src="../assets/img/menu.png" width="765" height="320" class="img-fluid border-rad">

                        <div routerLink="/menu-select" onMouseOver="this.style.cursor='pointer'" class="card-img-overlay primary-tp-layer pos-center text-center">
                            <div class="center-holder">
                                <a routerLink="/menu-select" class="ih-fade-right">
                                    <i class="fa fa-arrow-right fa-3x fa-inverse"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content">
                        <h4 class="mb-3 title">
                            <a routerLink="/menu-select">Choose from one of preselected menus</a>
                        </h4>
                        <div class="blog-categories mb-3 font-sm">
                            <p class="mb-0 d-inline-block mr-2">We have prepared a couple of menus which you can get for a better price</p>
                        </div>
                        <a routerLink="/menu-select"  class="btn btn-primary btn-md"> SELECT </a>
                    </div>
                </div>


            </div>

            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="blog-wrap mb-5">
                    <div class="overlay-wrap mb-4">
                        <img src="../assets/img/fondue.jpg" width="765" height="320" class="img-fluid border-rad"
                        />
                        <div routerLink="/step/1" onMouseOver="this.style.cursor='pointer'" class="card-img-overlay primary-tp-layer pos-center text-center">
                            <div class="center-holder">
                                <a routerLink="/step/1" class="ih-fade-right">
                                    <i class="fa fa-arrow-right fa-3x fa-inverse"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content">
                        <h4 class="mb-3 title">
                            <a routerLink="/step/1">Make your own menu</a>
                        </h4>
                        <div class="blog-categories mb-3">
                            <p class="mb-0 d-inline-block mr-2">Select your own food and drinks</p>
                        </div>
                        <a routerLink="/step/1"  class="btn btn-primary btn-md"> SELECT </a>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>